/*@charset "UTF-8";   */
@font-face{
	font-family:'font_bezeq_semibold';
	src:url('SimplerPro_BEZEQ-Semibold.ttf');
}

@font-face{
	font-family:'font_bezeq_regular';
	src:url('SimplerPro_BEZEQ-Regular.ttf');
}


*{
	padding:0;
	margin:0;
}


/*login.html*/
.content{
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
	overflow-y:hidden;
}
.login_eng_left{
	width:20%;
	height:180px;
	float : left;
}
.login_eng_left a{
	font-family:font_bezeq_regular;
	float:right;
	font-size : small;
	font-weight : bold;
	color : #7C878E;	
}
.login_eng_center {
	width: 60%;	
	height: 180px;
	text-align : center;
	float : left;
	padding: 0px 0px 0px 0px;
}
.login_eng_center p{
	font-family:font_bezeq_semibold;
	text-align : center;
	font-size : xx-large;
	font-weight : bold;
	color : #18264F;
}
.login_eng_title
{
	font-family:font_bezeq_semibold;
	text-align : center;
	font-size : xx-large;
	font-weight : bold;
	color : #18264F;
}
.login_eng_right{
	width : 20%;
	height: 180px;
	float : left;
}
.login_eng_right a{
	font-size : small;
	font-weight : bold;
	color : #7C878E;
}
.login_eng_text{
	width :	60%;
	height :180px;
	text-align:center;
	float : left;
	margin: 0px 0px 0px 0px;
}
.login_eng_text p{
	font-family:font_bezeq_regular;
	text-align:center;
	font-size : 17;
	margin: 0 15% 0 15%;
	color : #9c9c9c;
/*	min-width:200px;   */
}
.login_eng_input{
	font-family:font_bezeq_regular;
	width:40%;
	height:40px;
	margin:0px 20px 0px 20px;
	border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:#BDBDBD;
	border-bottom-width:1px;
	behavior:url(#default#savehistory);
}
.login_hebrew_input{
	width:40%;
	height:40px;
	margin:0px 20px 0px 20px;
	border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:#BDBDBD;
	border-bottom-width:1px;
	behavior:url(#default#savehistory);
	text-align:right
}
.button_blue{
	font-family:font_bezeq_regular;
	width:150px;
	height:40px;
	margin:0px 20px 0px 20px;
	border-radius:30px;
	font-size:120%;
	background: linear-gradient(90deg, #009ACD, #104E8B);
	border:0px;
	color:white;
	cursor:pointer;
}
.button_gray{
	font-family:font_bezeq_regular;
	width:300px;
	height:40px;
	margin:0px 20px 0px 20px;
	border-radius:30px;
	font-size:120%;
	background : #ddddd;
	color:white;
	border:0px;
	
/*	background : rgba(245,245,245,0.95);    */
}
.button_big{
	font-family:font_bezeq_regular;
	width:300px;
	height:40px;
	border-radius:30px;
	font-size:120%;
	border:0px;
	background: linear-gradient(90deg, #009ACD, #104E8B);
	color:white;
	cursor:pointer;
}


.login_eng_buttom_left{
	width: 48%;	
	height: 250px;
	text-align : right;
	float : left;
	padding: 0px 0px 0px 0px;
}
.login_eng_buttom_left p{
font-family:font_bezeq_regular;
	color : #9c9c9c;	
	padding-right: 50px;
}

.login_eng_buttom_center
{
	float:left;
	width:8%;
	height:250px;
}
.login_eng_buttom_right{
	width: 44%;	
	height: 250px;
	text-align : left;
	float : left;
	padding: 0px 0px 0px 0px;
}
.login_eng_buttom_right p{
	font-family:font_bezeq_regular;
	color : #9c9c9c;
	padding-left: 50px;
}
.login_hb_buttom_left{
	width: 48%;	
	height: 250px;
	text-align : right;
	float : left;
	padding: 0px 0px 0px 0px;
}
.login_hb_buttom_left p{
font-family:font_bezeq_regular;
	color : #9c9c9c;	
	padding-right: 40px;
}

.login_hb_buttom_center
{
	float:left;
	width:8%;
	height:250px;
}
.login_hb_buttom_right{
	width: 44%;	
	height: 250px;
	text-align : left;
	float : left;
	padding: 0px 0px 0px 0px;
}
.login_hb_buttom_right p{
	font-family:font_bezeq_regular;
	color : #9c9c9c;
	padding-left: 70px;
}

/*head*/
.main_header_left{
	float:left;
	width:80px;
	height:100px;
	text-align:right;
	background:#DEDEDE;
	position: relative;
}

.main_header_left img{	
	margin-top: 20px; 
}

.header_left{
	float:left;
	width:320px;
	height:100px;
	text-align:right;
	background:#DEDEDE;
	position: relative;
}

.header_left img{	
	margin-top: 20px; 
}
.header_center{
	float:left;
	width:50%;
	height:100px;
	text-align:left;
	background:#DEDEDE;
	position: relative;
}
.header_center p{	
	font-family:font_bezeq_semibold;
	font-size : x-large;
	font-weight : bold;
	color : #18264F;
	line-height:100px;
	padding-left:20px;
}
	
.header_right{
	float:left;
	height:100px;
	text-align:left;
	background:#DEDEDE;
/*	padding-top:40px;    */
}
.header_right a, .header_right p{
	font-family: font_bezeq_semibold;
	text-align : center;
	font-size : small;
	font-weight : bold;
	color : #9A9AA4;
}
.wireless_input{
/*	width:90%;   */
	width:300px;
	height:40px;
	margin:0px auto;  
	border-left-width:0px;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-bottom-color:#BDBDBD;
	background: rgba(245, 245, 245, 0.95);
	background:Transparent;
}
.content_b #button{
	width:200px;
	height:50px;
	margin:0px 20px 0px 20px;
	border-radius:30px;
	font-size:120%;
	background-color:#3A5FCD;
	}

/*basic menu*/
.menu{
	width:100%;
	height:100%;
}
.menu nav{
	float:right;
	background: rgba(255, 255, 255,0);
	width: 300px;
	margin:0px 0 0 0px;
}
.menu nav ul {
  padding: 0;
  margin: 0;

}
.menu nav ul li {
  list-style: none;
  height: 68px;
  border-right:solid 1px #A3AAB0;
}


.menu nav ul li a{
  font-family:font_bezeq_semibold;
  padding: 0px 0px 0px 20px;
  position: absolute;
  width: 380px;
  height: 90px;
  text-decoration: none;
  color: #828993;
  padding: 15px 0px 0px 50px;
  text-align:center;
  line-height: 20px;
  font-size:15;
/*  font-weight : bold;*/
}
.menu nav ul li a:hover {
  color: #104E8B;
}


#isp_content{
	width: 900px;
    height: 350px;
	margin: 0;
	padding: 0;
	overflow-y:hidden;
}

#isp_left{
	text-align: center;
	float:left;
	width:450px;   
	padding: 55px 0px 0px 0px;
}
#isp_left p{
	font-family:font_bezeq_regular;
	text-align: left;     
	color : #555;
	padding: 0px 0px 0px 50px;
}
#isp_left .input{
	float:left; 
	width:350px;
	height:40px;
	margin:0px 0px 0px 50px;
	border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-width:1px;border-bottom-color:#dedede;
	behavior:url(#default#savehistory);
}
#isp_left .button_big
{
	float : left;
	margin : 0px 0px 0px 75px;
}

#isp_right{
	float:left;
	width:380px;
	padding: 60px 0px 0px 0px;
}
#isp_right p{
	font-family:font_bezeq_regular;
	text-align: left;     
	color : #555;
	padding: 0px 0px 0px 0px;	
}
#isp_right td{
	font-family:font_bezeq_regular;
	text-align: left;     
	color : #555;
	padding: 0px 0px 0px 0px;	
}
#isp_right td.isp_status{
	font-family:font_bezeq_regular;
	text-align: left;     
	color : #3B3736;
	padding: 0px 0px 0px 0px;	
}
.circle{    
	float:left;
	width: 20px;      
	height: 20px;      
	border-radius: 50%;      
	-moz-border-radius: 50%;      
	-webkit-border-radius: 50%;    
}
.div_lable_right{    
	float:right;
	width: 50%;
}
.div_lable_mobile_right{    
	float:right;
	text-align:left;
	width: 60%;
}
.div_lable_mobile_left{
	text-align:right;
	width: 35%;
}


#wireless_content{
	width:800px;
	margin: 0px 0px 0px 0px ;
	padding: 30px 0px 0px 30px;
	text-align:center;
	overflow-y:hidden;
}


.wireless_head{
	text-align:center;
	padding: 0px 100px 0px 100px;
	color: #555;
}
.wireless_head p{
	font-family:font_bezeq_regular;
}
.wireless_sub{
	float: left;
	height:500px;
	width:350px;
	background-color: #EBEBEB;
	margin:5px 20px 0px 20px;
	padding: 0px 0px 0px 0px;
	text-align:center;
}
.wireless_sub .big{
	font-family:font_bezeq_semibold;
	color: #104E8B;
	font-size: 20px;
	font-weight: bolder;
}
.wireless_sub p{
	font-family:font_bezeq_regular;
	color: #555;
}

.wireless_sub .left{
	padding : 0px 0px 0px 27px;
	float:left;
}
.wireless_sub .right{
	padding : 0px 27px 0px 0px;
	float:right;
}
.wireless_s1{
	width: 40%;  
	height: 90px;  
    float: left;
	padding:0% 0% 0% 10% ;
}
.wireless_s1 label{ 
    margin:0 auto;
}
.wireless_s2{  
	width: 40%;  
	height: 90px;  
	vertical-align:middle;
    float: left;      
	padding:0% 10% 0% 0% ;
    }  
.wireless_s2 label{ 
    margin:0 auto;
}


/* toggle switch css start */
.switch-btn {position: relative; display: block; vertical-align: top; width: 100px; height: 32px; border-radius: 30px; cursor: pointer;}
/*opatity é€æ˜Žè®¾ç½®ï¼Œ0-1ï¼Œ*/
.checked-switch {position: absolute; top: 0; left: 0; opacity: 0;}
.text-switch {background-color: #bebebe; border: 1px solid #bebebe; border-radius: inherit; color: #fff; display: block; font-size: 15px; height: inherit; position: relative; text-transform: uppercase;}
.text-switch:before, .text-switch:after {position: absolute; top: 50%; margin-top: -.5em; line-height: 1; -webkit-transition: inherit; -moz-transition: inherit; -o-transition: inherit; transition: inherit;}
.text-switch:before {content: attr(data-no); right: 26px;}
.text-switch:after {content: attr(data-yes); left: 26px; color: #FFFFFF; opacity: 0;}
.checked-switch:checked ~ .text-switch {background-color: #00af2c; border: 1px solid #068506;}
.checked-switch:checked ~ .text-switch:before {opacity: 0;}
.checked-switch:checked ~ .text-switch:after {opacity: 1;}
/*linear-gradient:é¢œè‰²æ¸å˜ï¼›border-radiusè®¾ç½®è¿™ä¸ªç±»çš„ï¼Œè¾¹æ¡†åŠå¾„ï¼Œå°±æ˜¯è®¾ç½®æ–¹å—çš„åœ†è§’ï¼Œxx%æˆ–è€…xxpx

*/
.toggle-btn {border: 1px solid #068506; background:#ffffff ; border-radius: 50%; height: 30px; left: 1px; position: absolute; top: 1px; width: 28px;}
/*
.toggle-btn::before {color: #aaaaaa; content: "|||"; display: inline-block; font-size: 12px; letter-spacing: -2px; padding: 4px 0; vertical-align: middle;}
*/
.checked-switch:checked ~ .toggle-btn {left: 70px;}
.text-switch, .toggle-btn {transition: All 0.3s ease; -webkit-transition: All 0.2s ease; -moz-transition: All 0.2s ease; -o-transition: All 0.2s ease;}


.adv_login_left{

	float:left;
	width:500px;
	height:400px;
	margin : 52px 0px 0px 50px;
	
}
.adv_login_left p{
	font-family:font_bezeq_regular;
	color : #7A827C;
	text-align:left;
}
.adv_login_sub{
	width:300px;
	height:150px;
	border:1px solid #D7D7D7 ;
	padding: 10px 20px 0px 20px;
}
.adv_refresh{
	opacity:0.4;
}
.adv_refresh:hover{
	opacity:0.8;
}
.code
{
	background:lightblue;
	font-family:Arial;
	font-style:italic;
	color:Red;
	border:0;
	padding:2px 3px;
	letter-spacing:3px;
	font-weight:bolder;
	font-size:40;
	width : 140px;
	margin : 0px 0px 0px 20px;
}
.code_cvs
{
	background:lightblue;
	font-family:Arial;
	font-style:italic;
	color:Red;
	border:0;
	padding:2px 3px;
	letter-spacing:3px;
	font-weight:bolder;
	font-size:40;
	width : 140px;
	margin : 0px 0px 0px 20px;
}

/*hebrew login*/
.hebrew_input{
	width:300px;
	height:40px;
	margin:0px 0px 0px 0px;
	border-left-width:0px;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-color:#BDBDBD;
	border-bottom-width:1px;
	/*text-align:right;*/
/*	background: rgba(245, 245, 245, 0.95);   */
	background:Transparent;
	/*text-align:right;*/
}


/*hebrew head*/
.hebrew_header_left{
	float:left;
	width:25%;
	height:100px;
	text-align:right;
	background:#DEDEDE;
}
.hebrew_header_left a, .hebrew_header_left p{	
	text-align : left;
	font-size : small;
	font-weight : bold;
	color : #9A9AA4;
	font-family: font_bezeq_semibold;
}

.hebrew_header_center{
	float:left;
	width:50%;
	height:100px;
	text-align:right;
	background:#DEDEDE;
}
.hebrew_header_center p{
	font-family: font_bezeq_semibold;
	font-size : xx-large;
	font-weight : bold;
	color : #18264F;
	line-height:100px;
	padding-right:25px;position:absolute;right:310px;
	
}
.hebrew_header_right{
	background:#DEDEDE;
	width:335px;height:100px;position:absolute;top:0;right:0;background:#DEDEDE;
}
.hebrew_header_right img {
	margin-top: 20px;
	margin-left: 20px;	
}


/*hebrew menu*/
.hebrew_menu{
	width:100%;
	height:100%;
}
.hebrew_menu nav{
	float:left;
	background: rgba(255, 255, 255,0);
	width: 300px;
	margin:0px 0 0 0px;
}
.hebrew_menu nav ul {
  padding: 0;
  margin: 0;
}
.hebrew_menu nav ul li {
  list-style: none;
  height: 68px;
  border-left:solid 1px #A3AAB0;
}
.hebrew_menu nav ul li a {
/*  border: thick solid #ff0000;  */
/*  border-right:solid 10px gray;    */
/*  padding: 0px 0px 0px 20px;     */
  font-family: font_bezeq_semibold;
  position: absolute;
  width: 250px;
  height: 90px;
  text-decoration: none;
  color: #828993;
  padding: 15px 0px 0px 30px;
  text-align:left;
  line-height: 20px;
  font-size:15;
  font-weight : bold;
}

.hebrew_menu nav ul li a:hover {
  color: #104E8B;
}

#hebrew_wireless_content{
	float:right;
	width:800px;
	height:100%;  
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px;
	text-align:center;
/*	overflow-y:hidden;*/
}
.hebrew_wireless_head{
	font-family:font_bezeq_regular;
	text-align:center;
	padding: 20px 100px 0px 100px;
	color: #555;
}

/*hebrew isp setting web*/
#hebrew_isp_content{	
	float:right;
	width: 800px;
    height: 385px;
	margin: 0 auto;
	padding: 0;
/*	overflow-y:hidden;   */
}
#hebrew_isp_left{
	text-align: center;
	float:right;
	width:300px;   
	height:365px;   
	padding: 40px 0px 0px 0px;
}
#hebrew_isp_left p{
	font-family:font_bezeq_regular;
	color : #555;
	padding: 0px 0px 0px 120px;
}
#hebrew_isp_left td{
	font-family:font_bezeq_regular;
	text-align: left;     
	color : #555;
	padding: 0px 0px 0px 0px;	
}
#hebrew_isp_left td.hb_isp_status{
	font-family:font_bezeq_regular;
	text-align: left;     
	color : #3B3736;
	padding: 0px 0px 0px 0px;	
}
#hebrew_isp_right{
	float:right;
	width:400px;
	height:385px;
	text-align:right;
	padding:1px 50px 0px 0px ;
	overflow-y:hidden;
}
#hebrew_isp_right p{
	font-family:font_bezeq_regular;
	margin: 0px 0px 0px 0px;
	color : #555;
}

.hebrew_adv_login{
	font-family:font_bezeq_regular;
	float:right;
	width:400px;
	height:300px;
	margin : 44px 40px 0px 0px;
		
}

.hebrew_adv_login p{
	color : #3C3838;
}
/*mobile*/
.main{
	width:100%;
	height:100%;
	padding:0;
}

.w3l_main_grid1{
	font-size:1.2em;
	padding:1em 1em 0 0;
	float:right;
}

.w3l_main_grid2{
	text-align:center;
}
.w3l_main_grid3{
	font-family:font_bezeq_semibold;
	font-size:1.5em;
	color:#104E8B;
	text-align:center;
    padding: 0em 2em 0em 2em;
}
.w3l_main_grid4{
	font-size:1.2em;
	color:#999999;
	text-align:center;
    padding: 0.5em;
}
.w3l_main_grid5{
	margin:0 auto;
	text-align:center;
	width: 90%;
}
.w3l_main_grid6{
	margin:0 auto;
	text-align:center;
	width: 90%;
}
.w3l_main_grid6 p{
	font-family:font_bezeq_regular;
	font-size:1.2em;
	color:#999999;
    padding: 0.5em;
}
/*mobile*/
.mobile_input{
	text-align:center;
	font-size:1em;
	width:18em;       
/*	height:3em;        */
	margin:0em;
	border-left-width:0em;
	border-top-width:0em;
	border-right-width:0em;
	border-bottom-width:1px;
	border-bottom-color:#BDBDBD;
	background: rgba(245, 245, 245, 0.95);
	background:Transparent;		
}
.mobile_button{
	font-family:font_bezeq_regular;
	width:10em;
	height:2em;
	margin:0;
	border-radius:1em;
	font-size:1.2em;
	background: linear-gradient(90deg, #009ACD, #104E8B);
	cursor: pointer;
}
.clear{clear:both;}/* clear float */
.mobile_head{
	width:100%; 
	height:5em; 
	background:#dcdcdc;     
}
.head_left{
	background:url(b.png) no-repeat center; 
	height:5em; 
	float:left; 
	width:20%;
}
.head_center{
	float:left;
	width:60%;
/*	height:5em;    */
	color: #104E8B;
	font-size: 1em;
	font-weight:bold;
	padding:1.5em 0em 0em 0em; 

}
.head_right{
	float:left; 
/*	height:5em;    */
	width:20%; 
	padding:2em 0em 0em 0em; 
}


.mobile_main{
	width:100%;
	height:100%;
	padding:0;
}
.mobile_menu{
	width:100%; 
	height:3.5em;    
	margin:0 auto;
	text-align:center;
}
.menu nav ul {
  padding: 0;
  margin: 0;
}
.mobile_menu li{
	float:left;
/*	background:#dddddd;     */
	width:33.33%;
	height:3.5em;
	display:inline-block;
	border-bottom: solid 0.1em #a0a0a0;
/*	border:1px solid #aaa;     */
}
.mobile_menu a{
	font-size: 1.1em;
	font-weight:bold;
	color: #104E8B;
}


.mobile_adv_text{
	text-align:center;
	width:17em;
	font-size: 1em;
	color:#999999;
	margin:0 auto;
}
.mobile_identify{
	width:80%;
	height:10em;
	border:1px solid #dcdcdc;
	margin:0 auto;
	text-align:center;
}
.mobile_identify input{
	text-align:center;
	font-size:1em;   
	height:2em;   
	width:15em;
	margin:0.5em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	border-left-width:0em;
	border-top-width:0em;
	border-right-width:0em;
	border-bottom-color:#104E8B;;
}

.mobile_identify_code
{
	background:lightblue;
	font-family:Arial;
	font-style:italic;
	color:Red;
	border:0;
	padding:2px 3px;
	letter-spacing:3px;
	font-weight:bolder;
	font-size:40;
	width : 130px;
	margin : 0px 0px 0px 0px;
}

.mobile_isp_gride1{
	width:100%;
	height:3em;
}
.mobile_isp_gride1_left{
	padding:1em 0 0 0 ;
	float:left;
	width:20%;
	height:2.0em;
}
.mobile_isp_gride1_center{
	float:left;
	width:60%;
	height:3em;
	color:#888888;
/*	text-align:center;*/
/*    padding: 0.5em; */
}
.mobile_isp_gride1_center p{
	font-size:1.1em;
}
.mobile_isp_gride1_right{
	float:left;
	width:20%;
	height:3em;
}

.mobile_isp_gride2{
	text-align:left;
	width:80%;
	height:2.5em;
	padding-left:20%;  
}
.mobile_isp_gride2 p{
	font-family:font_bezeq_regular;
}

.mobile_isp_gride3{
	width:80%;
	height:10em;
/*	background:#;     */
	text-align:center;
	margin:0 auto;
}		
.mobile_isp_gride3 p{
    color: #555;
}
.clear{clear:both;}/* clear float */
.mobile_circle{    
	margin:0 auto;
/*	float:left;  */    /*ggh*/
	width: 1em;      
	height: 1em;      
/*	background-color:red;        */
/*	background-color:LimeGreen;      */
	border-radius: 50%;      
	-moz-border-radius: 50%;      
/*	-webkit-border-radius: 50%;    */
}
.array_down{
	margin:1em auto ;
	border: 1em solid transparent;
	border-top: 1em solid #999999;
	width:0;
	height:0;
}
.array_up{
	margin:0.1em auto ;
	border: 1em solid transparent;
	border-bottom: 1em solid #999999;
	width:0;
	height:0;
}


.mobile_wireless_grid1
{
	width:80%;
	margin:0 auto;
	text-align:center;
}
.mobile_wireless_grid1 p{
	width:80%;
	margin:0 auto;
	color:#555;
	text-align:center;
}
.mobile_wireless_grid2
{
	width:21em;
	height: 23em;
	margin:0 auto;
	background-color:#EBEBEB;
	text-align:center;
}
.mobile_wireless_grid2
{
	color:#555;
}
.mobile_wireless_checkbox
{
	width: 40%;  
	height: 4em;  
    float: left;
	padding:0 0 0 10% ;
	background-color:#EBEBEB;
}
.mobile_wireless_checkbox label{ 
    margin:0 auto;
}


.mobile_hebrew_login_lang
{
	font-size:1em;
	padding:1em 0 0 1em;
	float:left;
}

.mobile_hebrew_head_left
{
	float:left; 
	text-align:right;
	width:20%; 
	padding:2em 0em 0em 0em; 
}

.mobile_hebrew_head_left a
{
	color:#888888;
}
.mobile_hebrew_head_center
{
	text-align:right;
	float:left;
	width:40%;
	color: #104E8B;
	font-size: 1em;
	font-weight:bold;
	padding:1.5em 0em 0em 0em; 
}
.mobile_hebrew_head_right
{
	float:left; 
	width:20%; 	
	background:url(b.png) no-repeat center; 
	height:5em; 
	float:left; 
	width:40%;
}

.mobile_hebrew_isp_left
{
	padding:0em 0 0 0 ;
	float:left;
	width:20%;
	height:3.0em;
}

.mobile_hebrew_isp_center
{
	float:left;
	width:60%;
	height:3em;
	color:#888888;
	text-align:right;
}

.mobile_hebrew_isp_right
{
	float:left;
	width:20%;
	height:3em;
	padding:0em 0 0 0 ;
}

.mobile_blue_text{
	color:#104E8B;
	font-size:1em;
	font-weight:bold;
}








